notifications:
  email:
    recipients:
    - iem244@nyu.edu
sudo: required
services:
- docker
language: python
python:
- '3.6'
- '3.7'
- '3.8'
install:
- pip install -q --no-cache-dir -e .
- travis_wait pip install -q --no-cache-dir -e .
script:
- pytest -s tests/test_ratio_estimation.py
- pytest -s tests/test_nuisance.py
jobs:
  include:
  - stage: docker
    install:
    - echo none
    script:
    - echo none
    deploy:
      provider: script
      script: sh docker_push.sh
      on:
        branch: master
        condition: "$TRAVIS_PULL_REQUEST = false"
env:
  global:
  - secure: cU+FdjzZoFhkkE5kyyulL021VFz4lJaslrF5Ynwqh8djMC3h0VD3YgFGqFpv+/t/yMy9nUXB2zHHVO9XVLG50kqBUPfmAUVr6WxZwedfcLA2Q+HVOri1jNVE3BACHBcCPUMpdqI+PMPq/laSiJwCkUfCresVPyhe9yn2Ab+ftFbDx/KsWwlODXxHp1HCO25fdExtwPCyycWgRVy3FJNQlRicCR412K1JvOCBJOukngkoSZptp2NHYyiG3/LrGVsXywoapdoaygn+ZJzNVAXOFeMqHfimOelwmOySYiQUkhXc9gIOMQ1aWvUu1sMTZs6AHFj6y1x2T1Xs5aA9qfrfd76ifknmKbhIbixvFHWbXPLpHljLw7FwKnVZcaYWaM45SaCNy+kteMJGwQ4Rru42RnV5WCFdkfi3uuV6PNJzpWZx28PWoE6bXtG94w3maRdb7Z+rcHCB419upMflRMIDohUVn7B2pAiKHiQfzgF5JG0NHheZamEpfVTQoTUaLqctZKMAZPZfc7K6aKZn4gKHHKobkACjNDxcLaZSjMH/zglPIEqyNE7pdcE6DgCkSQTm8utHURGaUKv+GSxS1FVU2EvrUojneKV+bHJ8pMoPe5jIF8glpqVmZp+M5yIoQ9UtGwuas6Po12rmEk8AKIyYGXtI256QdfeDAqYQoNJkpzI=
  - secure: KyLvbVw3fhrJE+qqfwh20WerkBUK0+8Mh4uaUKxpvq9EUhfuNJ+9kkMj45CZGthghg3OvKdthtRB7cnCK0SQ2/1wGBMmZA9wHNwGOeaqleyk2f+tRCFuhyJLhuO0Vou17NOa7lF5Jzgcf7p8qltooiSygTOb2uZqb7bkhXp10QWdhRvC7A59cttnt8x3D6ZGBNCipaG55sINeIYGg7Og0iVCata5gogCwjfEl0pwgLR6FHT8i5URsBk/L1V4qM4SHfHyWN8dR+CACYlJjjEWCOh6icWVU3JtcLrZMfT24QFEZLcTCLCX+XouFYTC7DvxyHiTgh/vZ1OBA09M6iqL77AXL+EibS6Vak1FrA2bWuUrrMlmGO89ciJTFoi1NK6CgfwAXIELUztBiFM3z4vp1WxwZgce18S1S+UGiLiUinsLRVVE4p32jIsTI5rY9/IHfcqRmSM39ei6SiTlgxQpkmTJ6256EdQsnu47Iw9PMUnwrTUyhbtaXOatMGQueQGdr53uYzvJlrR2cYiOis0TzzXQpl+x3MZ370ZNQR36Wg9EtCtEBuiHVsvcbNPkJxbXFWKS1DF4cq4OB3OPlnVM6GON35mfiDqHUApduJRXP67Wf6Qk9DeaDR9C+rjvHQi0q8+93cAhf+Htv1hJ4vXxX7UDRoVpEwitH+MFKGbr+1s=
